body {
    /*background-color: lightcoral;*/
    background-image: url("GreyPolygons_1400x900.jpg");
}

#col_news {
    padding-left: 0px !important;
}

#col_news_time {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

#id_newNewsTitle {
    width: 100%;
}

#id_newNewsText {
    width: 100%;
}

h1 {
    text-align: left;
    margin-left: 0%;
    font-family: Arial, Helvetica, SansSerif;
    color: black;
}

h3 {
    /*margin-left: 0%;*/
    /*margin-right: 50%;*/
    text-align: left;
    font-family: "Kino MT";
    color: #282828;

}
.button_right_fix {
    margin-bottom: 20px;
    margin-left: 75%;

    text-align: center;

    /*content-color: magenta;*/
}

.button1 {
    border-radius: 50%;

    padding: 8px;
    background-color: rgba(255, 71, 48, 0.87);
}

.table {
    background-color: #e0e0e0;
    border: 1px solid black;
    table-layout: auto;
    border-collapse: collapse;
    font-size: xx-small ;
    text-space: nowrap;

}



