body {
    background-color: #f1f1f1;
    /*background-image: url("GreyPolygons_1400x900.jpg");*/
}

#col_news {
    padding-left: 0px !important;
}

#col_news_time {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

#id_newNewsTitle {
    width: 100%;
}

#id_newNewsText {
    width: 100%;
}

h1 {
    text-align: left;
    margin-left: 0%;
    font-family: Arial, Helvetica, SansSerif;
    color: black;
}

h3 {
    /*margin-left: 0%;*/
    /*margin-right: 50%;*/
    text-align: left;
    font-family: "Kino MT";
    color: #282828;

}
.button_right_fix {
    margin-bottom: 20px;
    margin-left: 75%;

    text-align: center;

    /*content-color: magenta;*/
}

.button1 {
    border-radius: 50%;

    padding: 8px;
    background-color: rgba(255, 255, 255, 0.87);

}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  /*padding: 6px 0;*/
  /*font-size: 12px;*/
  /*line-height: 1.428571429;*/
    box-shadow: 0.5px 1.5px 2.5px 0.5px rgba(158,155,158,1);
  border-radius: 25px;

}

.table {
    height: 200px;
    background-color: #e0e0e0;
    border: 1px solid black;
    table-layout: auto;
    /*border-collapse: collapse;*/
    font-size: small ;
    text-space: nowrap;

}

.PageTitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
}

.NewsTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.NewsDate {
    font-size: 13px;
    color: #6e6e6e;
}

.NewsText {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.scrollMe {
    overflow-y: auto;
    overflow-x: auto;
    
}




