{% extends 'base.html' %}
{% block content %}

    <h1>Add news</h1>

    <form>
        <div class="form-group">
            <label for="newsTitle">Title</label>
            <input type="text" class="form-control" id="newsTitle" placeholder="Topic">
        </div>
        <div class="form-group">
            <label for="newsText">Text</label>
            <input type="text" class="form-control" id="newsText" placeholder="Text">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}