{% extends 'base.html' %}
{% block content %}
    <h1 class="PageTitle">News</h1>
    <div class="container w-100 p-3">
        {% if news_list %}
            {% for news in news_list %}
                <div class="row border-bottom" style="margin-bottom: 5px;">
                    <div class="flex-row w-100">
                        <div class="col" id="col_news" align="left">
                            <h3 style="margin-bottom: 0px;" class="NewsTitle">{{ news.topic }}</h3>
                        </div>
                    </div>
                    <div class="flex-row w-100">
                        <div class="col" id="col_news_time" align="left">
                            <p color="grey" style="margin-bottom: 5px;" class="NewsDate">{{ news.dateTime }}</p>
                        </div>
                    </div>
                    <div class="flex-row w-100">
                        <p class="NewsText">{{ news.text }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row w-100 p-3">
                <div align="middle" class="col-5">
                    <p>No news are available.</p>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row justify-content-md-center button_right_fix fixed-bottom">


    <button type="button" id="add_button" class="btn btn-success btn-circle">
        <i class="fas fa-plus" style="font-size: x-large; padding-top: 3px;padding-bottom: 3px;"></i>
    </button>

    </div>
{% endblock %}
