{% extends 'base.html' %}
{% block content %}
    <h1>News</h1>
    <div class="container w-100 p-3">
        {% if news_list %}
            {% for news in news_list %}
                <div class="row border-bottom" style="margin-bottom: 5px;">
                    <div class="flex-row w-100">
                        <div class="col" id="col_news" align="left">
                            <h3 style="margin-bottom: 0px;">{{ news.topic }}</h3>
                        </div>
                    </div>
                    <div class="flex-row w-100">
                        <div class="col" id="col_news_time" align="left">
                            <p color="grey" style="margin-bottom: 5px;">{{ news.dateTime }}</p>
                        </div>
                    </div>
                    <div class="flex-row w-100">
                        <p>{{ news.text }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row w-100 p-3">
                <div align="middle" class="col-5">
                    <p>No news are available.</p>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row justify-content-md-center button_right_fix fixed-bottom">

        <button type="button" align="center" class= "btn button1 btn-lg btn-success"><img width="30px" height="30px" src="static/img_84809.png"></button>

    </div>
{% endblock %}
