{% extends 'base.html' %}
{% block content %}
    <h1>Issues</h1>
    {% if issues_list %}
          {% for issue in issues_list %}
              <div class="row border-bottom">
                  <div class="col">
                      {% if issue.injury == True %}
                          <h3>There was injury</h3>
                      {% else %}
                          <h3>There was not injury</h3>
                      {% endif %}

                  </div>
                  <div class="col-5">
                      {% if issue.fixed == True %}
                          <h3>Fixed</h3>
                      {% else %}
                          <h3>Not yet fixed</h3>
                      {% endif %}
                  </div>
                  <div class="w-100">
                  </div>
                  <div class="col">
                        {% for machine in issue.machine_id.all %}
                            {% if issues_list %}
                                <p>{{ machine.name }}</p>
                            {% else %}
                                <p>{{ machine.name }}</p>
                            {% endif %}
                        {% endfor %}
                        {% for parts in issue.parts_id.all %}
                            <p>{{ parts.name }}</p>
                        {% endfor %}
                  </div>
              </div>
          {% endfor %}
        {% else %}
            <div class="row w-100 p-3">
                <div align="middle" class="col-5">
                    <p>No issues are available.</p>
                </div>
            </div>
        {% endif %}
{% endblock %}