{% extends 'base.html' %}
{% block content %}
    <h1>Issues</h1>
        {% if issues_list %}
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">Breakdown time</th>
                      <th scope="col">Injury</th>
                      <th scope="col">Fix state</th>
                      <th scope="col">Time (h)</th>
                      <th scope="col">Machines</th>
                    </tr>
                </thead>
                {% for issue in issues_list %}
                    <tbody>
                        <tr>
                            <td>{{ issue.time_not_working }}</td>
                            <td>{{ issue.injury }}</td>
                            <td>{{ issue.fixed }}</td>
                            <td>{{ issue.duration_unfix }}</td>
                            <td>
                                {% for machines in issue.machine_id.all %}
                                    <p>{{ machines.name }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% else %}
            <div class="row w-100 p-3">
                <div align="middle" class="col-5">
                    <p>No issues are available.</p>
                </div>
            </div>
        {% endif %}
{% endblock %}