{% extends 'base.html' %}
{% block content %}
<h1>Edit Issue</h1>
<p>{{ issue_data.time_not_working }}</p>
<p>{{ issue_data.injury }}</p>
<p>{{ issue_data.fixed }}</p>
<p>{{ issue_data.duration_unfix }}</p>

    <input id="demo-1" type="text" value="tag-1,tag-2" placeholder="Enter something">

    <select name="demo-2" id="demo-2" placeholder="This is a placeholder" multiple>
  <option value="Dropdown item 1">Dropdown item 1</option>
  <option value="Dropdown item 2">Dropdown item 2</option>
  <option value="Dropdown item 3" selected>Dropdown item 3</option>
  <option value="Dropdown item 4" disabled>Dropdown item 4</option>
</select>


    <select name="demo-3" id="demo-3" data-choice placeholder="Pick an Arctic Monkeys record"></select>

{% endblock %}