{% extends 'base.html' %}
{% block content %}
    <h1 class="PageTitle">Issues</h1>
        {% if issues_list %}
            <div class="scrollMe">
            <table class="table fixed_header table-striped " style="font-family: 'Roboto', sans-serif;">
                <thead>
                    <tr style="font-size: 18px; align: center; vertical-align: middle; background-color:#9b9b9b;"  >
                          <th scope="col" style="vertical-align: middle; white-space: nowrap">Issue time</th>
                          <th scope="col" style="vertical-align: middle; white-space: nowrap">Injury</th>
                          <th scope="col" style="vertical-align: middle; white-space: nowrap">Fix state</th>
                          <th scope="col" style="vertical-align: middle; white-space: nowrap">Time (h)</th>
                          <th scope="col" style="vertical-align: middle; white-space: nowrap">Machines</th>
                          <th scope="col" style="vertical-align: middle; white-space: nowrap">Used Parts</th>
                    </tr>
                </thead>
                <tbody class="data_table">
                {% for issue in issues_list %}

                        <tr id="{{ issue.id }}">
                            <td style="vertical-align: middle">{{ issue.time_not_working }}</td>
                            <td align="center" style="vertical-align: middle;">
                                {% if issue.injury == True %}
                                   <i class="fas fa-circle" style="color: red; font-size: medium"></i>
                                {% else %}
                                    <i class="far fa-circle" style="color: red; font-size: medium"></i>
                                {% endif %}
                            </td>
                            <td align="center" style="vertical-align: middle;">
                                {% if issue.fixed == True %}
                                    <i class="fas fa-circle" style="color: green; font-size: medium"></i>
                                {% else %}
                                    <i class="far fa-circle" style="color: green; font-size: medium"></i>
                                {% endif %}
                            </td>
                            <td align="center" style="vertical-align: middle;">
                                {% if issue.duration_unfix == None %}
                                <p style="white-space: nowrap">Not set</p>
                                {% else %}
                                {{ issue.duration_unfix }}
                                {% endif %}
                            </td>
                            <td align="left" style="vertical-align: middle;">
                                {% for machines in issue.machine_id.all %}
                                    <p>{{ machines.name }}</p>
                                {% endfor %}
                            </td>
                            <td align="left" style="vertical-align: middle;">
                                {% for parts in issue.parts_id.all %}
                                    <p>{{ parts.name }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                 </tbody>
            </table>
            </div>
        {% else %}
            <div class="row w-100 p-3">
                <div align="middle" class="col-5">
                    <p>No issues are available.</p>
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-md-center button_right_fix fixed-bottom">

        <button type="button" id="add_button" class="btn btn-success btn-circle">
        <i class="fas fa-plus" style="font-size: x-large; padding-top: 3px;padding-bottom: 3px;"></i>
    </button>

    </div>
{% endblock %}