{% extends 'base.html' %}
{% block content %}
    <h1>Add new issue</h1>
    <form>

      <div style="margin-left:5%" class="form-group">
          <input class="form-check-input" type="checkbox" id="injury">
          <label class="form-check-label" for="defaultCheck1">
              Does the injury happen
          </label>
      </div>
      <div style="margin-left:5%" class="form-group">
          <input class="form-check-input" type="checkbox" id="fixed">
          <label class="form-check-label" for="defaultCheck1">
              Does issue have finished
          </label>
      </div>
      <div class="form-group">
        <label>Select machine</label>
        <select id="select_machine" class="form-control">
              {% for mach in machine %}
                  <option id="{{mach.id}}">{{mach.name}}</option>
              {% endfor %}
        </select>
      </div>
        <div>
            <select style="margin-bottom:2%;" class="form-control" id="select_parts" multiple>
                {% for part in parts %}
                  <option value="{{ part.id }}">{{ part.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    <button type="button" id="send_issue" class="btn btn-primary">Send</button>
    <div style="margin-top:3%;display: none" id="issue_added" class="alert alert-success" role="alert">
      Your data have added successfully!
    </div>
{% endblock %}