{% extends 'base.html' %}
{% block content %}
    <h1>Spare Parts</h1>
    {% if parts_list %}
        <table class="table fixed_header table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Part Name</th>
                    <th scope="col">Parts at Warehouse</th>
                    <th scope="col">Previous Usage</th>
                </tr>
                </thead>
                <tbody class="data_table">
                {% for part in parts_list %}
                    <tr id="{{ part.id }}">
                        <td>{{ part.name }}</td>
                        <td>{{ part.name }}</td>
                        <td>{{ part.count }}</td>
                        <td>{{ part.date_usage }}</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    {% else %}
        <div class="row w-100 p-3">
            <div align="middle" class="col-5">
                <p>No issues are available.</p>
            </div>
        </div>
    {% endif %}

{% endblock %}