{% extends 'base.html' %}
{% block content %}
    <h1 class="PageTitle">Statistic</h1>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script>
    function getRandomColor() {
        return 'rgba('+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256)+','+Math.floor(Math.random() * 256);
    }
var ctx = document.getElementById("myChart").getContext('2d');
var gardic=[];
var data=[];
var color=[];
var background=[];

{% for part in parts %}
gardic.push("{{ part.name }}");
data.push({{ part.counter }});
var testing=getRandomColor()
color.push(testing+',0.2)');
background.push(testing+',1)');
{% endfor %}
    console.log(color);
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: gardic,
        datasets: [{
            data: data,
            backgroundColor: color,
            borderColor: background,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{% endblock %}